.login-page {
    background-color: pink;
    width: 370px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
  }
  
  .registration-page {
    background-color: pink;
    width: 370px;
    margin: auto;
    margin-top: 50px;
    padding: 30px 40px 0;
  }

  .btn{
    background-color: blue;
    color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .nav-link{
    background-color: blue;
    color: white;
  }

  .nav-item{
    justify-content: center;
    
  }
  